*{
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

body {
  background-image: url("img/board.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  color: white;
  font-family: "Inter", Arial, sans-serif;

  /* Add a background color or image */

  /* Customize the font, size, and color for text*/
  font-size: 16px;

  /* Adjust the padding and margins */
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;

  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

/*
Style Text: Add style rules for any headings (h1-6),
paragraphs and links
*/

h1 {
  font-weight: 900;
  font-size: 40px;
  border: 1px white solid;
  text-align: center;
}

p {
  padding: 20px 50px;
}

a {
  color: chartreuse;
}

a:link {
  color: chartreuse;
}

a:visited {
  color: aqua;
}

a:hover {
  color: darkorange;
}

a:active {
  color: deeppink;
}

/*
Style Buttons: Add style rules for any headings (h1-6),
paragraphs and links
*/

button {
  background-color: #008cba;
  border: none;
  color: white;
  font-size: 16px;
  text-align: center;
  padding: 15px 32px;
  cursor: pointer;
}

/* Select and style elements by class name or ID */

/* Example: This styles elements with class="header"*/
.header-container {
  margin: 0 auto;
  display: flex;
  /* border: 1px red solid; */
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2%;
}

.header-item:nth-of-type(1) {
  padding: 10px;
}

.header-item:nth-of-type(2) {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 200px;
}

/* Part 1: Navbar */

/* General style rule set for all items in ul */
.navbar {
  display: block;
  margin-bottom: 60px;
  width: 100%;
}

.navbar ul {
  list-style: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  margin-bottom: 30px;
  background-color: #36202b;
  margin-top: 0;
  padding: 10px;
  display: flex;
  justify-content: center;
}

/* Style rule set for individual li */
.navbar ul li {
  float: left;
  margin: 10px;
  padding: 0.5% 5%;
}

/* Style rule set for individual li link */
.navbar ul li a {
  font-family: Arial;
  font-size: 16px;
  text-decoration: none;
  display: block;
  color: white;
  padding: 5px;
  flex-wrap: wrap;
}

/* Style rule set for hovered link */
.navbar ul li a:hover {
  font-weight: bold;
}

.coding-illustration,
.coding-girl {
  width: 300px;
  display: block;
}

.about-container {
  display: flex;
  justify-content: center;
  margin: 20px 50px;
}

.about-content-container {
  width: 40%;
}

.imgs-container {
  display: flex;
  margin: 30px 100px;
  justify-content: space-around;
}

.each-img-container {
  margin: 10px;
  padding: 10px;
  width: 40%;
  text-align: center;
}

.each-img-container img {
  display: block;
  margin: 0 auto;
}

.each-img-container p {
  margin-top: 0;
  margin-bottom: 0;
}

.each-img-container .cite {
  padding: 0;
  opacity: 50%;
}

.header-button-container {
  width: 70%;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.header-button {
  display: block;
  width: 30%;
}

.connect-container-left {
  text-align: end;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.connect-container-left h2 {
  margin-bottom: 0;
  margin-top: 0;
}

.connect-container-left p {
  padding: 0;
  margin-bottom: 0;
  margin-top: 0;
}

.connect-container-right button {
  display: block;
  width: 40%;
  height: 50%;
  margin-right: 5px;
}

.connect-container-right {
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.events-container {
  width: 50%;
  margin: 0 auto;
}

.above-footer {
  width: 200px;
  height: 120px;
  /* background-color: white; */
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 20px;
  height: 50px;
  border: 2px cyan solid;
  display: flex;
  justify-content: center;
  background-color: #0b0b0f;
}

.footer a {
  display: block;
}

.footer-content {
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.petition {
  margin: 0 auto;
  width: 80%;
}

.petition-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
  padding-bottom: 50px;
}
.petition-para {
  width: 55%;
  padding-right: 10px;
}

.signatures {
  width: 45%;
  padding-right: 10px;
}